h1 {
    text-align: center;
}

table {
    margin: auto;
    margin-bottom: 30px;
    font-size: 50px;
}

td {
    width: 78.5px;
    height: 99.5px;
    text-align: center;
}

button {
    font-size: 15px;
    display: block;
    margin: auto;
}

.borderRight {
    border-right: 2px solid;
}

.borderLeft {
    border-left: 2px solid;
}

.borderTop {
    border-top: 2px solid;
}

.borderBottom {
    border-bottom: 2px solid;
}